<% provide(:title, 'Group edit') %>

<div>
    <%= form_tag("/users/#{@user.id}/team/#{@team.team_name}/update",{multipart: true}) do %>

      <% unless @team.errors.full_messages.empty? %>
      <div class = "error_message">
         <% @team.errors.full_messages.each do |message| %>
         <%= message %>
         <% end %>
       </div>
       <% end %>

       <h2>team name</h2>
          <div class="cp_iptxt">
           <input type="text" name="name" value="<%= @group.team_name %>">
           <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
         </div>

         <h2>guest name</h2>
          <div class="cp_iptxt">
           <input type="text" name="guest">
           <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
         </div>

         


         <h2>image</h2>
       <input name="image" type="file">
       

         <input type="submit">
       
    <% end %>



  </div>