

    <div>
      <h1>Login</h1>
      <%= form_tag("/users/login") do %>
      
        <h2>user email</h2>
        <div class="cp_iptxt">
         <input type="text" name="email">
         <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
         </div>

         <h2>user password</h2>
         <div class="cp_iptxt">
         <input type="password" name="password">
         <i class="fas fa-key fa-lg fa-fw" aria-hidden="true"></i>
         </div>

         <input type="submit">
         <% end %>
    </div>
