<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      <h1>Login</h1>
      <h2>user email</h2>
         <input type="text">
        <h2>user password</h2>
         <input type="password">
    </div>
</body>
</html>