<% provide(:title, @title) %>
<div class="row">
  
    
      
 <h1><%= @user.name %></h1>
      
<% @users.each do |user| %>
    <img src="<%= "/user_images/#{user.image_name}" %>">
    <%= link_to(user.name, "/users/#{user.id}") %>

    <% end %>
    
    
  
</div>
