
  
  <div class = "user">

    <h1>
      Userの詳細画面<br>
      <img src="<%= "/user_images/#{@user.image_name}" %>"><br>
      <%= @user.name %><br>
      <%= @user.email %>
    </h1>

    <%= link_to("user編集","/users/#{@user.id}/edit") %>

  </div>