
<div class="stats">
  <%=link_to("following", "/users/#{@current_user.id}/following") %>
  <%= @current_user.following.count %>
  <%=link_to("followers", "/users/#{@current_user.id}/followers") %>
  <%= @current_user.followers.count %>
</div>