/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 *= require_tree .

 */

body{
  margin: 0;
  background-color: #faf0e6;
  width: 100%;
}

ul{
  padding-inline-start: 0px;
}


.side_content{
  text-align: center;
  line-height: 40px;

}



 .side_user img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  
  margin: 0;
  object-fit: cover;
  margin-bottom: 50px;
  
}



 .content {
    display: flex;
    padding: 80px 50px 80px 0;
  }

  ul {
    list-style: none;
  }
  
  
  .side {
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
    width: 175px;
    height: 460px;
    color: brown;
    border: 5px solid #deb887;
    background: #faf0e6;
    margin-right: 50px;
    border-radius: 10px;
    margin-left: 80px;
  }

 .home{
     display:block;
     position: relative;/*←相対位置*/
     padding-bottom: 30px;/*←footerの高さ*/
     box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
 }




 header {
  height: 64px;
  position: fixed;
  z-index: 1;
  width: 100%;
  z-index: 3;
  background-color: #faf0e6;
  border-bottom: 5px solid #deb887;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: black;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: black;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: black;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: black;
  margin: 0;
  font-size: 13px;
}


footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  width:90%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* flash */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: fixed;
  top: 64px;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 25px;
  font-weight: 700;
}

