// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//post index Page
.post_index_img img{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    
    object-fit: cover;
}

.post_inline{
  display: inline-block;
}

.post_index_name{
  font-size: 28px;
  padding-left: 20px;
}

.post_index_plofile{
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.post_index{
  background-color: #faf0e6;
  border: 2px solid #deb887;
  border-radius: 10px;
  padding: 10px 10px;
  margin:30px 10px;
  padding: 0 100px 10px 40px;
}


//post show Page
.post_show{
  border: 2px solid #deb887;
  width:450px;
  padding: 10px
}

.post_show_plofile{
  height: 150px;
  display: flex;
  align-items: center;
}

.post_show_name{
  font-size: 40px;
}

.post_show_title{
  font-size:27px;
}

.post_show_content{
  padding-left: 10px;
  padding-bottom: 30px;
}

.post_show_low{
  float: right;
}

//post new Page
.post_submit_home{
  width:600px;
  text-align: center;
}

textarea {
  resize: vertical;
}

.post_new_content {
  border: 2px solid #f3dac1;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 100%;             /* 横幅いっぱいにする */
  box-sizing: border-box;  /* ※これがないと横にはみ出る */
  height: 120px;           /* 高さ */
  font-size: 18px;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
  
}

.post_new_content:focus {
  border-color: #deb887;   /* 枠線の色 */
  background-color: #faf0e6;  /* 背景色 */
  outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}

.post_new_title {
  border: 2px solid #f3dac1;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 100%;             /* 横幅いっぱいにする */
  box-sizing: border-box;  /* ※これがないと横にはみ出る */
  height: 27pxpx;           /* 高さ */
  font-size: 22px;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
  
}

.post_new_title:focus {
  border-color: #deb887;   /* 枠線の色 */
  background-color: #faf0e6;  /* 背景色 */
  outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}











  .like-btn-unlike {
    color: #ff2581;
  }
  
  .posts-show-item .fa {
    font-size: 16px;
    margin-right: 3px;
  }