// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//users show 画面
.user_show_home{
  width:450px;
  margin:0 auto;
}

.member_show img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
  }

.user_show_img img{
  width: 110px;
    height: 110px;
    border-radius: 100%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
}

.user_show_img{
  display:inline-block;
}

.user_show_content{
  display: inline-block;
  padding-left: 30px;
}

.user_show_name{
  font-size: 40px;
  display:inline-block;
}

.user_show_edit{
  display:inline-block
}


.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #deb887;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.post_show_index{
  margin: 2em auto;
  padding: 0 1em 1em 1em;
  width: 100%;
  color: #606060;
  background-color: #faf0e6;
  border: 2px solid #deb887;
  border-radius: 10px;
}

.member_show{
  height: 60px;
  display: flex;
  align-items: center;
  
}

.member_show_img{
  display:inline-block;
}

.post-user-name{
  display:inline-block;
  font-size: 22px;
  padding-top:15px;
  padding-left: 25px;
}


//user index Page
.user_index_box{
  border: 2px solid #deb887;
  border-radius: 10px;
}

.user_index{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #faf0e6;
  border: 2px solid #deb887;
  border-radius: 10px;
  padding: 10px 10px;
  margin:30px 10px;
}

.index_inline{
  padding-left: 50px;
  padding-right: 50px;
}

.user_index_img img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
  
}

.user_index_img{
  display: inline-block;
}

.user_index_plofile{
  display:inline-block;
}

.user_index_post{
  display: inline-block;
}

//shared stats2 Page
.stats2{
  margin-bottom: 15px;
}

.stats2 :hover{
  color:black;
  margin: 0 auto;
}


//user signup login Page
.cp_iptxt {
	position: relative;
	width: 100%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt input[type='password']:focus {
	outline: none;
}
.cp_iptxt input[type='password']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #deb887;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 3px 3px 3px;
	border-style: solid;
	border-color: #deb887;
}